body {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;       
    background-color: #FFFFFF;
    line-height: 1.5;
    color: #434455;
    letter-spacing: 0.02em;
}
a {
    text-decoration: none;
    display: block;
    color: inherit;
    font-style: normal;
}
ul, li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
img {
    display: block;
}
.container {
    margin: 0 auto;
    padding: 0 16px;
    max-width: 320px;
}
/*///////////header///////////*/
.logo-header {
    color: var(--NAVY-BLUE, #2E2F42);
    font-family: Raleway;
    font-size: 18px;
    font-weight: 700;
    line-height: 21px; 
    letter-spacing: 0.54px;
    text-transform: uppercase;
    padding: 17.5px 0;
    transition: color 300ms cubic-bezier(0.4, 0, 0.2, 1);
}
.blue {
    color: var(--IRIS, #4D5AE5);
    font-family: Raleway;
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0.54px;
    text-transform: uppercase;
}
.logo-header:hover,
.logo-header:focus {
    color: red;
}
.blue {
    transition: color 300ms cubic-bezier(0.4, 0, 0.2, 1);
}
.blue:hover,
.blue:focus {
    color: red;
}
.box-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header {
    border-bottom: 1px solid var(--CORNFLOWER, #E7E9FC);
    background: var(--WHITE, #FFF);
    box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}
.icon-menu-header {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    border-radius: 4px
}
.icon-menu-header:hover,
.icon-menu-header:focus {
    background-color: #4D5AE5;
    fill: white;
}
/*///////////header///////////*/

/*///////////section one/////////////*/

.section-one {
    display: flex;
    background-size: cover;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url('../images/office-one.jpg');
    background-repeat: no-repeat;
    background-position: center;
    align-items: center;
    padding: 72px 0;
    max-width: 320px;
    margin: 0 auto;
}
.section-one-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.button-main {
    border-radius: 4px;
    background: var(--IRIS, #4D5AE5);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    color: white;
    padding: 16px 32px;
    border: none;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
    color: var(--WHITE, #FFF);
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.64px;
 }
 .button-main:hover,
 .button-main:focus {
    background-color: #404BBF;
 }
 .title-main {
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 40px; 
    letter-spacing: 0.72px;
    text-transform: capitalize;
    color:#FFF;
    width: 288px;
    margin-top: 0;
    margin-bottom: 72px;
 }

 /*///////////section one/////////////*/

/*/////////section two///////*/

.section-two {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 96px 0;
}
.list-strategy {
    display: flex;
    flex-direction: column;
    gap: 72px;
    justify-content: center;
    padding-left: 0;
}
.box-section-two {
    display: flex;
}
.title-list-strategy {
    margin-top: 0;
    margin-bottom: 8px;
    color: var(--NAVY-BLUE, #2E2F42);
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 40px; 
    letter-spacing: 0.72px;
    text-transform: capitalize; 
}
.paragraf-list-strategy {
    margin: 0;
    color: var(--SLATE, #434455);
    font-size: 16px;
    font-weight: 500;
    line-height: 24px; 
    letter-spacing: 0.32px; 
}
/*/////////section two///////*/

/*/////////section three///////*/

.option-list-our-team img {
    overflow: hiddenc;
}
.section-three {
    background-color: #F4F4FD;
    padding: 96px 0;
}
.title-section-three {
    margin-bottom: 72px;
    text-align: center;
    margin-top: 0;
    color: var(--NAVY-BLUE, #2E2F42);
    font-size: 36px;
    font-weight: 700;
    line-height: 40px; 
    letter-spacing: 0.72px;
    text-transform: capitalize;
}
.box-icons {
    display: flex;
    margin-bottom: 8px;
    height: 112px;
    background-color: #F4F4FD;
    border-radius: 4px;
    border: 1px solid #8E8F99;
    align-items: center;
    justify-content: center;
    display: none;
}
.list-our-team {
    margin-top: 0;
    margin-bottom: 0;
    gap: 72px;
    display: flex;
    flex-direction: column;
    padding: 0;
    align-items: center;
}
.option-list-our-team {
    display: flex;
    flex-direction: column;
    width: 264px;
    align-items: center; 
    background-color: #FFF;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.list-icon-contacts {
    display: flex;
    flex-direction: row;
    gap: 24px;
    padding-left: 0;
    margin: 0;
}
.title-box-our-team {
    text-align: center;
    margin-top: 0;
    margin-bottom: 8px;
}
.paragraf-list-our-team {
    text-align: center;
    margin-top: 0;
    margin-bottom: 8px;
}
.circle-icon {
    background-color: var(--IRIS, #4D5AE5);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
}
.icon-social-networks {
    fill: #F4F4FD;
}
.circle-icon:hover,
.circle-icon:focus {
    background-color: #404BBF;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.box-list-our-team {
    padding: 32px 0;
}

/*//////////section three /////////*/

/*//////////section four /////////*/
.animation-text img {
        overflow: hidden;
}

.option-list-section-four {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 288px;
    border: 1px solid var(--CLOUD, #F4F4FD);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.option-list-section-four:hover,
.option-list-section-four:focus {
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.list-our-portfolio {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 48px;
    justify-content: center;
    padding-left: 0;
    margin: 0;
}
.title-section-four {
    margin-top: 0;
    margin-bottom: 72px;
    text-align: center;
    color: var(--NAVY-BLUE, #2E2F42);
    font-size: 36px;
    font-weight: 700;
    line-height: 40px; 
    letter-spacing: 0.72px;
    text-transform: capitalize;
}
.section-four {
    padding: 96px 0;
}
.paragraf-and-title {
    padding: 32px 16px;
}
.title-option-section-four {
    margin-top: 0;
    margin-bottom: 8px;
    color: var(--NAVY-BLUE, #2E2F42);
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.4px;
}
.paragraf-option-section-four {
    margin: 0;
    color: var(--SLATE, #434455);
    line-height: 24px; 
    letter-spacing: 0.32px;
}
.animation-paragraf {
    position: absolute;
    top: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    padding: 40px 32px;
    background-color: #4d5ae5;
    height: 100%;
    width: 100%;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transform: translateY(100%);
    margin: 0;
}
.option-list-section-four:hover .animation-text .animation-paragraf {
    transform: translateY(0%);
}
.option-list-section-four:focus .animation-text .animation-paragraf {
    transform: translateY(0%);
}
.animation-text {
    position: relative;
    overflow: hidden;
}
/*/////////section four////////*/

/*////////footer///////////*/

.logo-footer:hover,
.logo-footer:focus {
    color: red;
}
.list-footer {
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 72px;
}
.icon-footer {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.section-footer {
    background-color: var(--NAVY-BLUE, #2E2F42);
}
.logo-footer {
    font-family: Raleway;
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0.54px;
    text-transform: uppercase; 
    color: white;
    transition: color 300ms cubic-bezier(0.4, 0, 0.2, 1);
    text-align: center;
    margin-bottom: 17.5px;
}
.paragraf-option-list-footer {
    color: var(--CLOUD, #F4F4FD);
    line-height: 24px; 
    letter-spacing: 0.32px;
    margin-top: 0;
}
.social-media {
    text-align: center;
}
.list-footers {
    justify-content: center;
    align-items: center;
}
.button-footer {
    min-width: 165px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: #4D5AE5;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    border-radius: 4px;
}
.label-footer {
    color: var(--CLOUD, #F4F4FD);
    line-height: 24px; 
    letter-spacing: 0.32px;
    margin-top: 0;
    text-align: center;
}
.option-list-footers {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: flex-start;
}
.input-footer {
    width: 288px;
    height: 40px;
    border: 1px solid #ffffff;
    background-color: transparent;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    padding-left: 16px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    color: #ffffff;
}
.icon-button-send {
    margin-left: 16px;
}
.button-footer:hover,
.button-footer:focus {
    background-color: #404BBF; 
}
.icon-footer:hover,
.icon-footer:focus {
    background-color: #31D0AA;
}
.form-footer-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
}
.section-footer {
    padding: 97.5px 0;
}
/*////////footer//////////////*/

/*////////form//////////////*/

.box-form {
    position: fixed;
    top: 0; 
    left: 0; 
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1); 
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.container-form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1); 
    background: #fcfcfc; 
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2); 
    border-radius: 4px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1); 
    padding: 72px 16px 24px 16px; 
    width: 288px;
}
.button-form {
    position: absolute; 
    top: 24px; 
    right: 24px;
    width: 24px; 
    height: 24px; 
    border-radius: 50%; 
    display: flex;
    align-items: center; 
    justify-content: center; 
    background-color: #e7e9fc; 
    border: 1px solid rgba(0, 0, 0, 0.1); 
    padding: 0; 
    cursor: pointer; 
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}
.button-form:hover,
.button-form:focus {
    background-color: #404bbf;
    border: none; 
    fill: #ffffff;
}
.icon-form {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}
.text-form {
    font-weight: 500;
    font-size: 16px; 
    line-height: 1.5; 
    text-align: center;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin-bottom: 16px; 
    margin-top: 0;
}
.list-input-form {
    margin-bottom: 8px;
}
.label-form {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    display: block;
    margin-bottom: 4px; 
}
.icons-and-input {
    position: relative; 
}
.form-input {
    height: 40px;
    width: 100%;
    border: 1px solid rgba(46, 47, 66, 0.4); 
    border-radius: 4px; 
    background-color: transparent; 
    padding-left: 38px; 
    outline: transparent; 
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
} 
.form-input:focus {
    border-color: #4D5AE5;
}
.icon-user {
    position: absolute;
    left: 16px;
    top: 50%; 
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    fill: #2E2F42;
} 
.form-input:focus + .icon-user {
    fill: #4D5AE5;
}
.input-user-privacy:checked + label .link-ruls-privacy {
    fill: white;
    background-color: #4D5AE5;
    border: none;
}
.link-ruls-privacy:checked {
    background-color: #4D5AE5;
}
.icons-and-comment {
    margin-bottom: 16px;
}
.comment-section {
    width: 100%;
    height: 120px; 
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4); 
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding: 8px 16px;
    outline: transparent;
    display: block;
    resize: none; 
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.comment-section:focus {
    border-color: #4D5AE5; 
}
.container-checkbox {
    margin-bottom: 24px;
}
.text-accept-privacy {
    font-size: 12px; 
    line-height: 1.17;
    letter-spacing: 0.04em;
    display: flex;
    align-items: center;
    color: #8e8f99;
}
.link-ruls-privacy {
    display: inline-flex;
    width: 16px; 
    height: 16px; 
    border: 1px solid rgba(46, 47, 66, 0.4); 
    border-radius: 2px; 
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    align-items: center; 
    justify-content: center;
    margin-right: 8px;
    position: relative;
    fill: transparent;
}
.input-user-privacy:checked + label .link-ruls-privacy {
    background-color: #404bbf;
    border: none; 
    fill: #F4F4FD; 
}
.input-user-privacy:focus + label .link-ruls-privacy {
    background-color: #404bbf;
    border: none; 
    fill: #F4F4FD; 
}
.icon-users {
    display: inline-block;
    fill: transparent;
}
.privacy {
    color:  #4d5ae5; 
    text-decoration: underline;
}
.button-send-formularz {
    display: block;
    min-width: 169px;
    height: 56px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: #4D5AE5;
    border: none; 
    border-radius: 4px;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
    margin: 0 auto;
}
.button-send-formularz:hover {
    background-color: #404BBF;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0,0,0,0);
    overflow: hidden;
}

/*/////////form///////////*/

/*/////////menu///////////*/

.container-menu {
    padding: 72px 24px 40px 16px;
    top: 50%;
    background: #fcfcfc; 
    display: flex;
    flex-direction: column;
    height: 100%;
}
.box-menu {
    position: fixed;
    width: 100%;
    top: 0;
    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1); 
    height: 100%;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}
.menu-hidden {
    display: flex;
    flex-direction: column;
    gap: 168px;
    margin-bottom: auto;
}
.list-hiddens {
    padding-left: 0;
    margin-top: 0;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.option-list-hiddens {
    color: var(--NAVY-BLUE, #2E2F42);
    font-size: 36px;
    font-weight: 700;
    line-height: 40px; 
    letter-spacing: 0.72px;
    text-transform: capitalize; 
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.studio {
    color: #404BBF;
}
.list-hidden {
    padding-left: 0;
    margin-top: 0;
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-bottom: 48px;
}
.option-list-hidden {
    color: var(--SLATE, #434455);
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.4px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}
.option-list-hidden:hover,
.option-list-hidden:focus {
    color: var(--IRIS, #4D5AE5);
}
.option-list-hiddens:hover,
.option-list-hiddens:focus {
    color: var(--OCEAN, #404BBF);
}
.icon-menu {
    gap: 40px;
}
.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

/* header */
.header-hidden-menu {
    display: none;
}
.header-hidden-contacts {
    display: none;
}
/* header */
/* footer */
.form-footer {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
}
.button-footer {
    display: flex;
    align-content: baseline;
}

@media (min-width: 768px) and (max-width: 1158px) {
    
    .icon-menu-header {
        display: none;
    }
    .container {
        max-width: 768px;
    }
    .header-hidden-menu {
        display: flex;
        flex-direction: row;
        gap: 40px;
        margin: 0;
    }
    .header-hidden-contacts {
        display: flex;
        flex-direction: column;
        gap: 12px;
        font-size: 12px;
        padding: 16px 0;
        margin: 0;
    }
    .title-main {
        width: 496px;
        color: var(--WHITE, #FFF);
        font-size: 56px;
        line-height: 60px;
        letter-spacing: 1.12px;
    }
    .section-one {
        padding: 112px 0;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url('../images/office-two.jpg');
        max-width: 768px;
    }
    .list-strategy {
        position: relative;
        flex-direction: row;
        flex-wrap: wrap;
        column-gap: 24px;
        row-gap: 72px;
        justify-content: flex-start;
        padding-right: 0;
        padding-left: 0;
        margin-top: 0;
    }
    .title-list-strategy {
        text-align: left;
    }
    .option-list-strategy {
        width: calc((100% - 24px)/2);
    }
    /*  */
    .list-our-team{
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
        row-gap: 64px;
        column-gap: 24px;
    }
    /*  */
    .list-our-portfolio {
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
        row-gap: 72px;
        column-gap: 24px;
    }
    .option-list-section-four {
        width: calc((100% - 24px)/2);
    }
    /* footer */


.olf {
        width: calc((100% - 208px)/2);
    }
.olf .paragraf-option-list-footer {
        margin-bottom: 0;
    }
.list-footer {
        flex-direction: row;
        flex-wrap: wrap;
        column-gap: 24px;
        justify-content: center;
    }
.list-footers {
    gap: 16px;
}
.paragraf-option-list-footer {
    text-align: left;
}
.section-footer {
        display: flex;
        justify-content: center;
    }
.box-section-footer {
    display: flex;
    justify-content: center;
}
.logo-footer {
    text-align: left;
}
.label-footer {
    text-align: left;
}
.form-footer {
    flex-direction: row;
    align-items: flex-end;
    gap: 24px;
}
.input-footer {
    width: 264px;
}
.option-list-footers {
    width: 68%;
}
/*footer*/


    .box-menu {
        display: none;
    }
    .option-hidden-contacts {
        color: var(--SLATE, #434455);
        font-size: 12px;
        line-height: 14px; 
        letter-spacing: 0.48px;
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    .option-hidden-contacts:hover,
    .option-hidden-contacts:focus {
        color: var(--OCEAN, #404BBF);
    }
    .option-hidden-menu {
        color: var(--NAVY-BLUE, #2E2F42);
        font-weight: 500;
        line-height: 24px; 
        letter-spacing: 0.32px;
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    .option-hidden-menu:hover,
    .option-hidden-menu:focus {
        color: var(--OCEAN, #404BBF);
    }
    .header-hidden-menu {
        padding-left: 0;
    }
    .one-studio {
        color: #404bbf;
        position: relative;
    }
    .one-studio::after {
        content: "";
        position: absolute;
        left: 1px;
        bottom: -25px;
        height: 4px;
        background-color: #404bbf;
        border-radius: 2px;
        width: 48px;
    }
    /* form */
    .container-form {
        position: fixed;
        width: 408px;
    }
    .accept {
        display: flex;
        gap: 4px;
    }
    .container-form {
        top: 38%;
    }
}
@media (min-width: 1158px) {

    .section-one {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url('../images/office.jpg');
        max-width: 1158px;
    }
    
    .icon-menu-header {
        display: none;
    }
    .header-hidden-menu {
        display: flex;
        flex-direction: row;
        gap: 40px;
        margin: 0;
    }
    .header-hidden-contacts {
        font-size: 16px;
        padding: 16px 0;
        margin: 0;
        margin-left: auto;
        flex-direction: row;
        gap: 40px;
        display: flex;
    }
    .title-main {
        width: 496px;
        color: var(--WHITE, #FFF);
        font-size: 56px;
        line-height: 60px;
        letter-spacing: 1.12px;
    }
    .section-one-box {
        padding: 188px 0;
    }
    .list-strategy {
        position: relative;
        flex-direction: row;
        gap: 24px;
        padding-right: 0;
        padding-left: 0;
    }
    .title-list-strategy {
        text-align: left;
        color: var(--NAVY-BLUE, #2E2F42);
        font-size: 20px;
        font-weight: 500;
        line-height: 24px; /* 120% */
        letter-spacing: 0.4px;
    }
    .paragraf-list-strategy {
        color: var(--SLATE, #434455);
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.32px;
    }
    .option-list-strategy {
        width: calc((100% - 56px)/2);
    }
    .list-our-team {
        justify-content: center;
        flex-direction: row;
        column-gap: 24px;
    }
    .list-our-portfolio {
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 24px;
    }
    /* footer */
    .main-box-footer {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        column-gap: 24px;
        row-gap: 72px;
    }
    .container {
        max-width: 768px;
        padding: 0 15px;
        margin: 0 auto;
    }
    .foot-box {
        margin-right: 0;
    }
    .subscribe-box {
        margin-left: 0;
    }
    .title-box-subscribe {
        margin-top: 0;
    }
    /* footer */
    .option-hidden-contacts {
        color: var(--SLATE, #434455);
        font-size: 16px;
        line-height: 14px; 
        letter-spacing: 0.48px;
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    .option-hidden-contacts:hover,
    .option-hidden-contacts:focus {
        color: var(--OCEAN, #404BBF);
    }
    .option-hidden-menu {
        color: var(--NAVY-BLUE, #2E2F42);
        font-weight: 500;
        line-height: 24px; 
        letter-spacing: 0.32px;
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
        padding: 24px 0;
    }
    .option-hidden-menu:hover,
    .option-hidden-menu:focus {
        color: var(--OCEAN, #404BBF);
    }
    .header-hidden-menu {
        padding-left: 0;
    }
    .one-studio {
        color: #404bbf;
        position: relative;
    }
    .one-studio::after {
        content: "";
        position: absolute;
        left: 1px;
        bottom: -1px;
        height: 4px;
        background-color: #404bbf;
        border-radius: 2px;
        width: 48px;
    }
    .logo-header {
        margin: 0 76px 0 0;
        font-size: 18px;
        font-family: Raleway;
        font-weight: 700;
        line-height: 21px;
        letter-spacing: 0.54px;
        text-transform: uppercase;
    }
    .box-header {
        justify-content: flex-start;
    }
    .container {
        max-width: 1158px;
        padding-left: 15px;
        padding-right: 15px;
        margin: 0 auto;
    }
    .section-one {
        padding: 188px 0;
    }
    .box-icons {
        display: flex;
    }
    .option-list-section-four {
        width: calc((100% - 48px) / 3);
    }
    .option-list-our-team img {
        overflow: visible;
    }
    .animation-text img {
        overflow: visible;
    }
    .box-menu {
        display: none;
    }
    .box-section-footer {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: baseline;
    }
    .list-footer {
        flex-direction: row;
    }
    .form-footer {
        flex-direction: row;
        align-items: flex-end;
    }
    .logo-footer {
        text-align: left;
    }
    .paragraf-option-list-footer {
        text-align: left;
    }
    .label-footer {
        text-align: left;
    }
    .section-footer {
        padding: 101.5px 0;
    }
    /* form */
    .accept {
        display: flex;
        gap: 4px;
    }
    .container-form {
        width: 408px;
        top: 55%;
    }
}
@media (min-resolution: 192dpi) {
    .section-one {
      background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url('../images/office-one@2x.jpg');
    }
} 
@media (min-resolution: 192dpi) and (min-width: 1158px) {
    .section-one {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url('../images/office@2x.jpg');
    }
}
@media (min-width: 768px) and (max-width: 1158px) and (min-resolution: 192dpi) {
    .section-one {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url('../images/office-two@2x.jpg');
    }
}